*{
	margin: 0;
	padding: 0;
}
html, body{
	padding: 0;
	margin: 0;
	height:100%;
	cursor:url(../../materials/cursor.png), default;
	background:#ffffff;
	overflow: scroll;
	font-family: Verdana, KaiTi;
	/* user-select:none; */
	scroll-behavior: smooth;
}
body::-webkit-scrollbar{
	display:none;
}
img{
	-webkit-user-drag:none;
}
#titleBack{
	box-shadow: 1px 1px 5px #546868;
	position: fixed;
	width: 100%;
	height: 15%;
	background-color: #fff;
	margin: 0;
	z-index: 999;
	transition: all 0.5s;
}
#title{
	height:90%;
	margin-left: 5%;
	margin-top: 0.25em;
}
.tutorial-title{
	font-family: "ink free", "FangSong";
	font-size: 2.5em;
	font-weight: bold;
	margin-left: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.inline-point{
	background: #D3D3D3;
	border-radius: 0.25em;
	padding: 0.25em;
	box-shadow: 1px 1px 1px #000;
	font-family: NSimSun;
}
hr{
	background: none;
	margin: 1em 0;
}
.example-picture{
	height: 10em;
	display: block;
	margin: 1em auto;
	transition: all 0.5s;
}

#footPage{
	background: #F5F5F5;
	border-top: 1px solid #ccc;
	padding: 1em;
	text-align: center;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
	display: block;
	width: 100%;
	height: 2em;
	line-height: 2em;
	margin-top: 1em;
}
li{
	float: left;
	width: 10%;
	text-align: center;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
	font-family: "ink free","FangSong";
	font-weight: bold;
}
.content{
	line-height: 30px;
}