#travel_area {
    height: 100vh;
    overflow-x: hidden;
}

#travel_area::-webkit-scrollbar {
    display: none;
}

#background_animation {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background_animation .background_earth {
    height: 100vh;
    width: calc(100vh * 2);
    position: absolute;
    top: 0;
    background: url(../../MATERIALS/TRAVEL/background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.travel_bg_p2 {

    left: 500px;
}