@font-face {
    font-family: 'PPAcma-Black';
    src: url(../../MATERIALS/font/PPAcma-Black.otf);
}

@font-face {
    font-family: "YeZiGongChangTangYingHei";
    src: url(../../MATERIALS/font/YeZiGongChangTangYingHei-2.ttf);
}