#navigation_bar {
    position: fixed;
    height: 5em;
    width: 50%;
    background: rgba(255, 255, 255, 0.2);
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1em;
    backdrop-filter: blur(0.35em);
    box-shadow: 2px 2px 0.25em #000;
    z-index: 1000;
}

#navigation_bar table {
    position: absolute;
    width: 100%;
    table-layout: fixed;
    height: 100%;
}

#navigation_bar table tr td {
    text-align: center;
    color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    -webkit-text-stroke: 2px #00000000;
}

#navigation_bar table tr td:hover {
    color: rgba(255, 255, 255, 1);
    background-size: 100%;
    font-size: 2em;
    -webkit-text-stroke: 1px #000000F0;
}

#nav_home {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_home.png'), 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    transition: all 0.5s;
}
#nav_home:hover {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_home.png'), 40%);
    background-position: center;
    background-repeat: no-repeat;
}


#nav_trips {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_trip.png'), 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    transition: all 0.5s;
}
#nav_trips:hover {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_trip.png'), 40%);
    background-position: center;
    background-repeat: no-repeat;
}

#nav_camera {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_camera.png'), 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    transition: all 0.5s;
}
#nav_camera:hover {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_camera.png'), 40%);
    background-position: center;
    background-repeat: no-repeat;
}

#nav_projects {
    background: url('../../MATERIALS/ico_projects.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    transition: all 0.5s;
}
#nav_projects:hover {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_projects.png'), 40%);
    background-position: center;
    background-repeat: no-repeat;
}

#nav_language {
    background: url('../../MATERIALS/ico_language.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    transition: all 0.5s;
}
#nav_language:hover {
    background: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url('../../MATERIALS/ico_language.png'), 40%);
    background-position: center;
    background-repeat: no-repeat;
}

@media (any-pointer: coarse) {
    #navigation_bar table tr td:hover {
        color: rgba(255, 255, 255, 0);
        background-size: 100%;
        font-size: 2em;
        -webkit-text-stroke: 1px #00000000;
    }

    #nav_home:hover {
        background: url('../../MATERIALS/ico_home.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #nav_trips:hover {
        background: url('../../MATERIALS/ico_trip.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #nav_camera:hover {
        background: url('../../MATERIALS/ico_camera.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #nav_projects:hover {
        background: url('../../MATERIALS/ico_projects.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    #nav_language:hover {
        background: url('../../MATERIALS/ico_language.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    
}

@media screen and (max-width: 750px) {

    #navigation_bar {
        width: 100%;
        bottom: 0;
        border-radius: 1em 1em 0 0;
    }
}

/* @media screen and (orientation: portrait) {
    竖屏
}
@media screen and (orientation: landscape) {
    横屏
} */