
:root {

    --travel-MapsBox-max-width: 80vw;
    --travel-MapsBox-max-height: 75vh;

    --travel-MapsBox-Object-max-width: 100%;
    --travel-MapsBox-Object-max-height: 100%;
    --travel-MapsBox-Object-min-height: auto;

    --travel-CountryMapsBox-Object-left: 10vw;
    --travel-CountryMapsBox-Object-width: 80vw;

    --travel-Traveled-List-font-size: var(--font-size-normal);
    --travel-Traveled-List-Selected-Span-left: 0;

    --travel-ContentExpand-left: 0;
    --travel-ContentExpand-right: 0;
    --travel-ContentExpand-width: 1em;
    --travel-ContentExpand-bottom: calc(2.2 * var(--travel-Traveled-List-font-size));

    --travel-btn-MapsBack: 5em;

    --travel-before-scale-top: 0;
    --travel-before-scale-left: 0;
    --travel-before-scale-width: 50vw;
    --travel-before-scale-height: 50vh;

    --travel-Country-Story-height: 50vh;

    --travel-Story-Country-Name-font-size: var(--font-size-5em);
    --travel-Story-Country-Name-top: 0.25em;

    --travel-Story-Country-Desc-margin: 1em;

    --travel-Story-Country-img-left: auto;
    --travel-Story-Country-img-right: 0;

    --travel-Story-Img-Area-Box-width: 85%;
    --travel-Story-Img-Area-Img-width: calc(100% / 4.01);
}

@media screen and (max-width: 750px) {

    :root {

        --travel-MapsBox-max-width: 95vw;
        --travel-MapsBox-max-height: 75vh;

        --travel-MapsBox-Object-max-width: auto;
        --travel-MapsBox-Object-max-height: 100%;
        --travel-MapsBox-Object-min-height: 100%;

        --travel-CountryMapsBox-Object-left: 3vw;
        --travel-CountryMapsBox-Object-width: 94vw;

        --travel-Traveled-List-font-size: var(--font-size-2em);

        --travel-ContentExpand-left: auto;
        --travel-ContentExpand-right: 5vw;
        --travel-ContentExpand-width: 1em;
        --travel-ContentExpand-bottom: calc(2.1 * var(--travel-Traveled-List-font-size));

        --travel-btn-MapsBack: 6em;

        --travel-Country-Story-height: 30vh;

        --travel-Story-Country-Name-font-size: var(--font-size-3em);
        --travel-Story-Country-Name-top: 0.4em;

        --travel-Story-Country-Desc-margin: 0.5em;

        --travel-Story-Country-img-left: 0;
        --travel-Story-Country-img-right: 0;

        --travel-Story-Img-Area-Box-width: 90%;
        --travel-Story-Img-Area-Img-width: calc(100% / 2.01);
    }
}

@keyframes travel_entrance_1 {

    from {

        transform: translateY(calc(1.5 * var(--home-my-name-margin)));
        opacity: 0;
    }

    to {
        
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes travel_animation_1 {

    0% {

        transform: rotateY(90deg);
        filter: opacity(0) grayscale(1) blur(1em);
    }

    50%,
    70% {
        transform: rotateY(0deg);
        filter: opacity(1) grayscale(0) blur(0);
    }

    100% {
        transform: rotateY(90deg);
        filter: opacity(0) grayscale(1) blur(1em);
    }

}

#box_TravelPage {
    
    width: 100vw;
    height: 100vh;
}

#box_TravelPage #travel_MapsBox {

    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: var(--travel-MapsBox-max-width);
    max-height: var(--travel-MapsBox-max-height);

    text-align: center;

    overflow: scroll hidden;

    margin: auto;
}

#box_TravelPage #travel_MapsBox::-webkit-scrollbar {
    display: none;
}

#box_TravelPage #travel_MapsBox object {

    will-change: transform !important;

    max-width: var(--travel-MapsBox-Object-max-width);
    max-height: var(--travel-MapsBox-Object-max-height);

    min-height: var(--travel-MapsBox-Object-min-height);

    content-visibility: auto;

    opacity: 1;
    transition: opacity 0.5s;
}

#box_TravelPage #travel_MapsBox object.WorldMapsHide {
    opacity: 0;
}
#box_TravelPage #travel_MapsBox object.WorldMapsHideDisplay {
    display: none;
}

#box_TravelPage #travel_CountryMapsBox.MapCountryHide {
    display: none;
}

#box_TravelPage #travel_CountryMapsBox {

    position: fixed;

    max-width: var(--travel-MapsBox-max-width);
    max-height: var(--travel-MapsBox-max-height);

    top: var(--travel-before-scale-top);
    left: var(--travel-before-scale-left);
    width: var(--travel-before-scale-width);
    height: var(--travel-before-scale-height);

    bottom: auto;
    right: auto;

    text-align: center;

    overflow: scroll hidden;

    margin: auto;
}

#box_TravelPage #travel_CountryMapsBox.withAnimation {

    transition: all 1s;
}

#box_TravelPage #travel_CountryMapsBox.afterScale {
    
    top: 20vh;
    left: var(--travel-CountryMapsBox-Object-left);

    width: var(--travel-CountryMapsBox-Object-width);
    height: 60vh;

    transform: scale(1);
}

#box_TravelPage #travel_CountryMapsBox::-webkit-scrollbar {
    display: none;
}

#box_TravelPage #travel_CountryMapsBox object {

    will-change: transform !important;
}

#box_TravelPage #travel_CountryMapsBox object.MapIsHide {
    
    display: none;
}
#box_TravelPage #travel_CountryMapsBox object.MapIsShow {

    display: initial;
    opacity: 1;

    max-width: var(--travel-MapsBox-Object-max-width);
    max-height: var(--travel-MapsBox-Object-max-height);

    min-height: var(--travel-MapsBox-Object-min-height);

    transition: 1s;

    @starting-style {

        opacity: 0;
    }
}

#box_TravelPage #box_AreaName {

    position: fixed;

    font-family: var(--fontface-title);
    font-size: var(--font-size-2_5em);
    color: var(--font-color-normal);

    height: 1em;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;

    pointer-events: none;
}

#box_TravelPage #box_AreaName .p_AreaName {

    position: absolute;

    top: 0;

    width: 100%;

    opacity: 0;
    transform: translateY(1em);

    transition: opacity 0.5s, transform 0.5s;
}

#box_TravelPage #box_AreaName p.areaNameDisplay {
    
    opacity: 1;
    transform: translateY(0);
}

#box_TravelPage #travel_ContentExpand {

    position: fixed;

    opacity: 0;
    pointer-events: none;

    color: var(--font-color-normal);
    font-size: var(--font-size-normal);
    font-family: var(--fontface-content-3);
    bottom: var(--travel-ContentExpand-bottom);
    
    left: var(--travel-ContentExpand-left);
    right: var(--travel-ContentExpand-right);

    text-align: center;
    width: var(--travel-ContentExpand-width);

    margin: auto;

    cursor: pointer;

    transform: rotateX(0deg) scaleX(3);

    border-top: 0em solid #00000000;
    border-bottom: 0em solid #00000000;

    transition: all 1s;
    z-index: -999;
}

#box_TravelPage #travel_ContentExpand.contentExpand {

    transform: rotateX(180deg) scaleX(3);
}

div:has(> #travel_ContentExpand) {

    background: #FFFFFF00;

    width: 100vw;
    height: 99vh;
    
    position: fixed;

    top: 101vh;

    transition: all 1s;

    overflow: hidden;
}

div:has(> #travel_ContentExpand.contentExpand) {

    background: #FFFFFF80;
    top: 0;
}

div:has(> #travel_ContentExpand) #travel_TraveledStory {

    position: relative;

    height: 100vh;
    padding-top: var(--font-size-5em);
    padding-bottom: var(--font-size-1em);

    box-sizing: border-box;

    overflow: hidden hidden;

    transition: all 1s;
}

div:has(> #travel_ContentExpand) #travel_TraveledStory::-webkit-scrollbar {
    display: none;
}

#traveled_World {

    position: absolute;

    width: 100vw;

    opacity: 1;

    display: initial;
    transition: 0.75s;
}

#traveled_World.traveled_WorldHide {
    opacity: 0;
    transition: 0.5s;
}

#travel_TraveledStory .travel_Country_Story {

    position: relative;

    height: var(--travel-Country-Story-height);
    width: 95vw;

    margin: auto;
    margin-bottom: var(--font-size-1em);

    border: 0.15em solid #CCC;

    animation: travel_entrance_1 1s linear;
    animation-timeline: view(95% 0);

    overflow: hidden;

    cursor: pointer;
}

#travel_TraveledStory .travel_Country_Story .travel_Story_Country_Name {

    position: absolute;

    text-shadow: 1px 1px 2px var(--bg-color);

    font-family: var(--fontface-title);
    font-size: var(--travel-Story-Country-Name-font-size);
    color: var(--font-color-title);

    top: var(--travel-Story-Country-Name-top);
    left: var(--travel-Story-Country-Name-top);
}

#travel_TraveledStory .travel_Country_Story .travel_Story_Country_Desc {

    position: absolute;

    width: 80%;
    text-align: right;

    text-shadow: 1px 1px 2px var(--bg-color);

    color: var(--font-color-title);
    font-size: var(--font-size-normal);
    font-family: var(--fontface-art-2);

    right: var(--travel-Story-Country-Desc-margin);
    bottom: var(--travel-Story-Country-Desc-margin);
}

#travel_TraveledStory .travel_Country_Story img {

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    filter: grayscale(0) blur(0);

    margin: auto;

    transition: filter 0.5s, transform 1s;
}

#travel_TraveledStory .travel_Country_Story:hover img {

    filter: grayscale(1) blur(0.15em);

    transform: scale(1.1);
}

#traveled_Area {

    position: absolute;

    width: 100vw;

    opacity: 0;
    transition: all 0.5s;
}

#traveled_Area.isShow {

    opacity: 1;
}

#traveled_Area #traveled_Area_AreaList {

    position: relative;

    width: 90vw;

    font-size: var(--font-size-1em);
    font-family: var(--fontface-art-2);
    color: var(--font-color-normal);

    margin: 2em auto;

    table-layout: fixed;

    z-index: 10;
}

#traveled_Area #traveled_Area_AreaList tr td {
    padding: 0.5em;
}

#traveled_Area #traveled_Area_AreaList tr td.table_left {

    text-align: center;
}

#traveled_Area #traveled_Area_AreaList tr td.table_left::after {
    content: ":";
}

#traveled_Area #traveled_Area_AreaList tr td.table_right {

    white-space: nowrap;

    overflow: scroll hidden;
}

#traveled_Area #traveled_Area_AreaList tr td.table_right::-webkit-scrollbar {
    
    display: var(--display-pc);
    height: 0.25em;
}

#traveled_Area #traveled_Area_AreaList tr td.table_right::-webkit-scrollbar-thumb {
    
    border-radius: 1em;
    background: rgba(88 ,88 ,88 ,0);

    transition: 1s;
}
#traveled_Area #traveled_Area_AreaList tr td.table_right:hover::-webkit-scrollbar-thumb {

    background: rgba(88 ,88 ,88 ,1);
}

#traveled_Area #traveled_Area_AreaList tr td.table_right span {

    background: rgba(255, 255, 255, 0.5);

    border: 0.15em solid var(--font-color-normal);
    padding: 0.05em 1em;
    border-radius: 1em;

    margin: auto 0.1em;
    cursor: pointer;

    transform: scaleX(1);

    display: inline-block;

    transition: all 0.5s;
}
#traveled_Area #traveled_Area_AreaList tr td.table_right span.selected {

    background: var(--font-color-normal);
    color: var(--bg-color);
}

#traveled_Area #traveled_Area_AreaList tr td.table_right span:not(.stay) {

    transform: scaleX(0);
    height: 0%;
    font-size: 0;
    padding: 0 0;
    margin: 0.15em 0em;
    border: 0 solid var(--font-color-normal);
    color: #00000000;
    opacity: 0;
    display: inline;
}

#traveled_Area #traveled_Area_AreaList tr td.table_right span.loadingToHide {
    opacity: 0;
}

#traveled_ImgArea {

    position: absolute;

    top: 0;
    left: 0;

    overflow: hidden scroll;

    padding-top: 50vh;

    width: 100vw;
    height: 100%;

    z-index: 1;
}

#traveled_ImgArea > div {
    width: var(--travel-Story-Img-Area-Box-width);
    margin: auto;
    padding-bottom: 80vh;

    display: flex;
    justify-content: center;
}

#traveled_ImgArea .img_area {

    width: var(--travel-Story-Img-Area-Img-width);
}

#traveled_ImgArea .traveled_story_img {

    width: 100%;

    display: inline-block;
    box-sizing: border-box;

    max-height: 1000vh;
    opacity: 1;

    transition: all 0.5s;

    animation: travel_animation_1 1s linear;
    animation-timeline: view();
}

#traveled_ImgArea .traveled_story_img.no-in-choose-animation {
    opacity: 0;
}
#traveled_ImgArea .traveled_story_img.no-in-choose {
    max-height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    display: inline;
}

#traveled_ImgArea::-webkit-scrollbar {
    display: none;
}

#box_TravelPage #travel_TraveledList {

    white-space: nowrap;

    box-sizing: border-box;
    
    position: fixed;
    display: flex;

    font-size: var(--travel-Traveled-List-font-size);
    color: var(--font-color-normal);
    font-family: var(--fontface-art-2);

    width: 95%;
    padding: 0 0.25em;
    overflow-x: scroll;

    bottom: 0;

    left: 0;
    right: 0;
    margin: auto;

    mask: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);

    transition: mask 0.5s, bottom 1s, bottom 1s;

    z-index: 10;
}

#box_TravelPage #travel_TraveledList.view-hide {
    bottom: -5em;
}

#box_TravelPage #travel_TraveledList.at_right {
    mask: linear-gradient(90deg, transparent, #000 20%);
}
#box_TravelPage #travel_TraveledList.at_left {
    mask: linear-gradient(90deg, #000 80%, transparent);
}

#box_TravelPage #travel_TraveledList span {

    padding: 0.15em 0.5em;
    margin: 0.1em;

    border-radius: 1em;
    border: 0.1em solid var(--font-color-normal);

    cursor: pointer;

    transition: all 1s;
}

#box_TravelPage #travel_TraveledList span.span_LoadingToShow {

    transform: translateX(0);
    opacity: 1;
    transition: 1s;

    @starting-style {
        transform: translateX(2em);
        opacity: 0;
    }
}

#box_TravelPage #travel_TraveledList span.spanHide {

    opacity: 0;

    @starting-style {
        opacity: 1;
    }
}

#box_TravelPage #travel_TraveledList::-webkit-scrollbar {

    display: var(--display-pc);
    height: 0.5em;
}

#box_TravelPage #travel_TraveledList::-webkit-scrollbar-thumb {
    
    border-radius: 1em;
    background: rgba(88 ,88 ,88 ,0);

    transition: 1s;
}
#box_TravelPage #travel_TraveledList:hover::-webkit-scrollbar-thumb {

    background: rgba(88 ,88 ,88 ,1);
}

#box_TravelPage #travel_TraveledList span.areaSelectedwithAniamtion {

    position: absolute;

    left: var(--travel-Traveled-List-Selected-Span-left);;
    transition: left 1s, background 1s, color 1s;
}

#box_TravelPage #travel_TraveledList span.areaSelected {

    left: 0 !important;

    color: var(--bg-color);
    background: var(--font-color-normal);

}

#box_TravelPage #travel_TraveledList_title {

    position: fixed;
    width: 95%;

    color: var(--font-color-normal);
    font-size: var(--font-size-2em);
    bottom: calc(1.2 * var(--travel-Traveled-List-font-size));
    font-family: var(--fontface-art-2);

    padding-left: 0.5em;
    margin-bottom: 0.1em;

    left: 0;
    right: 0;

    margin: auto auto 0.1em;

    border-bottom: 0.05em solid #CCC;

    transition: bottom 1s;
    z-index: 9;
}

#box_TravelPage #travel_TraveledList_title.view-hide {
    bottom: -5em;
}

#travel_btn_MapsBack {

    position: fixed;

    top: var(--travel-btn-MapsBack);
    left: var(--font-size-2em);

    color: var(--font-color-normal);
    font-size: var(--font-size-1em);
    font-family: var(--fontface-content-3);

    transition: left 1s;

    cursor: pointer;
    z-index: 15;
}

#travel_btn_MapsBack::before {
    content: "< ";
}

#travel_btn_MapsBack.btn_Hide {

    left: -10em;
}
