
:root {

    --travel-MapsBox-max-width: 80vw;
    --travel-MapsBox-max-height: 75vh;

    --travel-MapsBox-Object-max-width: 100%;
    --travel-MapsBox-Object-max-height: 100%;
    --travel-MapsBox-Object-min-height: auto;

    --travel-CountryMapsBox-Object-left: 10vw;
    --travel-CountryMapsBox-Object-width: 80vw;

    --travel-Traveled-List-font-size: var(--font-size-normal);
    --travel-Traveled-List-Selected-Span-left: 0;

    --travel-ContentExpand-left: 0;
    --travel-ContentExpand-right: 0;
    --travel-ContentExpand-width: 1em;
    --travel-ContentExpand-bottom: calc(2.2 * var(--travel-Traveled-List-font-size));

    --travel-ContentExpand-Expanded-btn-right: 0;
    --travel-ContentExpand-Expanded-btn-bottom: 0.25em;
    --travel-ContentExpand-Expanded-TraveledList-bottom: calc(100vh - 5.5em);

    --travel-btn-MapsBack: 5em;

    --travel-before-scale-top: 0;
    --travel-before-scale-left: 0;
    --travel-before-scale-width: 50vw;
    --travel-before-scale-height: 50vh;
}

@media screen and (max-width: 750px) {

    :root {

        --travel-MapsBox-max-width: 95vw;
        --travel-MapsBox-max-height: 75vh;

        --travel-MapsBox-Object-max-width: auto;
        --travel-MapsBox-Object-max-height: 100%;
        --travel-MapsBox-Object-min-height: 100%;

        --travel-CountryMapsBox-Object-left: 3vw;
        --travel-CountryMapsBox-Object-width: 94vw;

        --travel-Traveled-List-font-size: var(--font-size-2em);

        --travel-ContentExpand-left: auto;
        --travel-ContentExpand-right: 5vw;
        --travel-ContentExpand-width: 1em;
        --travel-ContentExpand-bottom: calc(2.1 * var(--travel-Traveled-List-font-size));

        --travel-ContentExpand-Expanded-btn-right: calc(100vw / 3);
        --travel-ContentExpand-Expanded-btn-bottom: 0.5em;
        --travel-ContentExpand-Expanded-TraveledList-bottom: calc(100vh - 4em);

        --travel-btn-MapsBack: 6em;
    }
}

#box_TravelPage {
    
    width: 100vw;
    height: 100vh;
}

#box_TravelPage #travel_MapsBox {

    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: var(--travel-MapsBox-max-width);
    max-height: var(--travel-MapsBox-max-height);

    text-align: center;

    overflow: scroll hidden;

    margin: auto;
}

#box_TravelPage #travel_MapsBox::-webkit-scrollbar {
    display: none;
}

#box_TravelPage #travel_MapsBox object {

    will-change: transform !important;

    max-width: var(--travel-MapsBox-Object-max-width);
    max-height: var(--travel-MapsBox-Object-max-height);

    min-height: var(--travel-MapsBox-Object-min-height);

    content-visibility: auto;

    opacity: 1;
    transition: opacity 0.5s;
}

#box_TravelPage #travel_MapsBox object.WorldMapsHide {
    opacity: 0;
}
#box_TravelPage #travel_MapsBox object.WorldMapsHideDisplay {
    display: none;
}

#box_TravelPage #travel_CountryMapsBox.MapCountryHide {
    display: none;
}

#box_TravelPage #travel_CountryMapsBox {

    position: fixed;

    max-width: var(--travel-MapsBox-max-width);
    max-height: var(--travel-MapsBox-max-height);

    top: var(--travel-before-scale-top);
    left: var(--travel-before-scale-left);
    width: var(--travel-before-scale-width);
    height: var(--travel-before-scale-height);

    bottom: auto;
    right: auto;

    text-align: center;

    overflow: scroll hidden;

    margin: auto;
}

#box_TravelPage #travel_CountryMapsBox.withAnimation {

    transition: all 1s;
}

#box_TravelPage #travel_CountryMapsBox.afterScale {
    
    top: 20vh;
    left: var(--travel-CountryMapsBox-Object-left);

    width: var(--travel-CountryMapsBox-Object-width);
    height: 60vh;

    transform: scale(1);
}

#box_TravelPage #travel_CountryMapsBox::-webkit-scrollbar {
    display: none;
}

#box_TravelPage #travel_CountryMapsBox object {

    will-change: transform !important;
}

#box_TravelPage #travel_CountryMapsBox object.MapIsHide {
    
    display: none;
}
#box_TravelPage #travel_CountryMapsBox object.MapIsShow {

    display: initial;
    opacity: 1;

    max-width: var(--travel-MapsBox-Object-max-width);
    max-height: var(--travel-MapsBox-Object-max-height);

    min-height: var(--travel-MapsBox-Object-min-height);

    transition: 1s;

    @starting-style {

        opacity: 0;
    }
}

#box_TravelPage #box_AreaName {

    position: fixed;

    font-family: var(--fontface-title);
    font-size: var(--font-size-2_5em);
    color: var(--font-color-normal);

    height: 1em;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;

    pointer-events: none;
}

#box_TravelPage #box_AreaName .p_AreaName {

    position: absolute;

    top: 0;

    width: 100%;

    opacity: 0;
    transform: translateY(1em);

    transition: opacity 0.5s, transform 0.5s;
}

#box_TravelPage #box_AreaName p.areaNameDisplay {
    
    opacity: 1;
    transform: translateY(0);
}

#box_TravelPage #travel_ContentExpand {

    position: fixed;

    color: var(--font-color-normal);
    font-size: var(--font-size-normal);
    font-family: var(--fontface-content-3);
    bottom: var(--travel-ContentExpand-bottom);
    
    left: var(--travel-ContentExpand-left);
    right: var(--travel-ContentExpand-right);

    text-align: center;
    width: var(--travel-ContentExpand-width);

    margin: auto;

    cursor: pointer;

    transform: rotateX(0deg) scaleX(3);

    border-top: 0em solid #00000000;
    border-bottom: 0em solid #00000000;

    transition: all 1s;
    z-index: 12;
}

#box_TravelPage #travel_ContentExpand.contentExpand {

    transform: rotateX(180deg) scaleX(3);
    right: var(--travel-ContentExpand-Expanded-btn-right);
    bottom: var(--travel-ContentExpand-Expanded-btn-bottom);

    width: calc(100vw / 3);

    box-sizing: border-box;

    border-top: 0.15em solid #888;
    border-bottom: 0.15em solid #888;
    border-radius: 0.1em;
}

div:has(> #travel_ContentExpand) {

    background: #FFFFFF80;

    width: 100vw;
    height: calc(100vh - var(--font-size-3em));
    
    position: fixed;

    top: 100vh;

    transition: all 1s;
}

div:has(> #travel_ContentExpand.contentExpand) {

    top: var(--font-size-3em);
}

div:has(> #travel_ContentExpand.contentExpand) #travel_TraveledList {

    bottom: var(--travel-ContentExpand-Expanded-TraveledList-bottom)
}

#box_TravelPage #travel_TraveledList {

    white-space: nowrap;

    box-sizing: border-box;
    
    position: fixed;
    display: flex;

    font-size: var(--travel-Traveled-List-font-size);
    color: var(--font-color-normal);
    font-family: var(--fontface-art-2);

    width: 95%;
    padding: 0 0.25em;
    overflow-x: scroll;

    bottom: 0;

    left: 0;
    right: 0;
    margin: auto;

    mask: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);

    transition: mask 0.5s, bottom 1s;
}

#box_TravelPage #travel_TraveledList.at_right {
    mask: linear-gradient(90deg, transparent, #000 20%);
}
#box_TravelPage #travel_TraveledList.at_left {
    mask: linear-gradient(90deg, #000 80%, transparent);
}

#box_TravelPage #travel_TraveledList span {

    padding: 0.15em 0.5em;
    margin: 0.1em;

    border-radius: 1em;
    border: 0.1em solid var(--font-color-normal);

    cursor: pointer;

    transition: 0.25s;
}

#box_TravelPage #travel_TraveledList span.span_LoadingToShow {

    transform: translateX(0);
    opacity: 1;
    transition: 1s;

    @starting-style {
        transform: translateX(2em);
        opacity: 0;
    }
}

#box_TravelPage #travel_TraveledList span.spanHide {

    opacity: 0;

    @starting-style {
        opacity: 1;
    }
}

#box_TravelPage #travel_TraveledList::-webkit-scrollbar {

    display: var(--display-pc);
    height: 0.5em;
}

#box_TravelPage #travel_TraveledList::-webkit-scrollbar-thumb {
    
    border-radius: 1em;
    background: rgba(88 ,88 ,88 ,0);

    transition: 1s;
}
#box_TravelPage #travel_TraveledList:hover::-webkit-scrollbar-thumb {

    background: rgba(88 ,88 ,88 ,1);
}

#box_TravelPage #travel_TraveledList span.areaSelectedwithAniamtion {

    position: absolute;

    left: var(--travel-Traveled-List-Selected-Span-left);;
    transition: left 1s;
}

#box_TravelPage #travel_TraveledList span.areaSelected {

    left: 0 !important;
}

#box_TravelPage #travel_TraveledList_title {

    position: fixed;
    width: 95%;

    color: var(--font-color-normal);
    font-size: var(--font-size-2em);
    bottom: calc(1.2 * var(--travel-Traveled-List-font-size));
    font-family: var(--fontface-art-2);

    padding-left: 0.5em;
    margin-bottom: 0.1em;

    left: 0;
    right: 0;

    margin: auto auto 0.1em;

    border-bottom: 0.05em solid #CCC;
}

#travel_btn_MapsBack {

    position: fixed;

    top: var(--travel-btn-MapsBack);
    left: var(--font-size-2em);

    color: var(--font-color-normal);
    font-size: var(--font-size-1em);
    font-family: var(--fontface-content-3);

    transition: left 1s;

    cursor: pointer;
}

#travel_btn_MapsBack::before {
    content: "< ";
}

#travel_btn_MapsBack.btn_Hide {

    left: -10em;
}
