*, html {
    padding: 0;
    margin : 0;
}

body {
    background: #d8dad7;
}

#content_area {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

#content_area #main_content_table {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 500%;
    height: 100vh;
    table-layout: fixed;
    margin-left: 0%;
    transition: all 0.5s;
}