@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url(/assets/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: "Chinese-Regular";
    src: url(/assets/fonts/hanyiyongzixiachan45f.ttf);
}

@font-face {
    font-family: "English-Title";
    src: url(/assets/fonts/PPAcma-Black.otf);
}

@font-face {
    font-family: "Chinese-Title";
    src: url(/assets/fonts/YeZiGongChangTangYingHei-2.ttf);
}