@font-face {
    font-family: "aabairimengxiangjia";
    src: url(/File/Font/aabairimengxiangjia.ttf);
}

@font-face {
    font-family: "amelia";
    src: url(/File/Font/amelia.ttf);
}

@font-face {
    font-family: "bailufeiyunshouxieti";
    src: url(/File/Font/bailufeiyunshouxieti.ttf);
}

@font-face {
    font-family: "font-MZD";
    src: url(/File/Font/font-MZD.ttf);
}

@font-face {
    font-family: "GenJyuuGothic-Normal";
    src: url(/File/Font/GenJyuuGothic-Normal.ttf);
}

@font-face {
    font-family: "hadimonfreeregular";
    src: url(/File/Font/hadimonfreeregular.otf);
}

@font-face {
    font-family: "hanyiyongzixiachan45f";
    src: url(/File/Font/hanyiyongzixiachan45f.ttf);
}

@font-face {
    font-family: "lipinhuiziyoulixiangti";
    src: url(/File/Font/lipinhuiziyoulixiangti.ttf);
}

@font-face {
    font-family: "PPAcma-Black";
    src: url(/File/Font/PPAcma-Black.otf);
}

@font-face {
    font-family: "PPAcma-Light";
    src: url(/File/Font/PPAcma-Light.otf);
}

@font-face {
    font-family: "PPAcma-Semibold";
    src: url(/File/Font/PPAcma-Semibold.otf);
}

@font-face {
    font-family: "PPAcma-Thin";
    src: url(/File/Font/PPAcma-Thin.otf);
}

@font-face {
    font-family: "shoujinti";
    src: url(/File/Font/shoujinti.ttf);
}

@font-face {
    font-family: "unifontdianzhenhei";
    src: url(/File/Font/unifontdianzhenhei.ttf);
}

@font-face {
    font-family: "YeZiGongChangTangYingHei-2";
    src: url(/File/Font/YeZiGongChangTangYingHei-2.ttf);
}
