
#box_footerArea {

    background: var(--bg-color);
    
    width: 100vw;
    height: 100vh;

    position: relative;
    margin: auto;

    z-index: 999;
}

#box_footerArea #footer_myName {
    
    position: absolute;

    font-size: var(--font-size-5em);
    color: var(--font-color-title);
}