#travel_story_title_province {
    color: #CCC;
}

#content_province_title {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 5em;
    font-family: "bailufeiyunshouxieti";
    color: #888;
    margin-top: 1em;
}

#box_content_province ul {
    padding: 0;
    list-style: none;
    width: 85%;
    margin: 5em auto;
    margin-bottom: 10em;
}

#box_content_province li {
    float: left;
    margin: 1.5em 0.5em;
    height: 16em;
}

#box_content_province .hex {
    overflow: hidden;
    display: block;
    width: 21em;
    height: 24em;
    transform: rotate(-60deg) skewY(30deg);
    pointer-events: none;
}

#box_content_province .hexIn {
    background-color: #ccc;
    display: block;
    width: 21em;
    height: 24em;
    line-height: 24em;
    text-align: center;
    transform: skewY(-30deg) rotate(60deg);
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000;
    pointer-events: all;
}

#box_content_province .hexIn:hover div {
    top: 0;
}

#box_content_province .hexIn div {
    position: absolute;
    background: #CCCCCCCC;
    height: 100%;
    width: 100%;
    top: -100%;
    transition: all 0.5s;
}

#box_content_province .hexIn div p:first-child {
    font-size: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#box_content_province li:nth-child(6n + 4) {
    margin-left: 11.5em;
}